body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

.movie {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.movie img {
    max-width: 200px;
    min-height: 300px;
    object-fit: contain;
    border-radius: 5px;
}

.movie div {
    margin: 15px 10px;
    padding: 2px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    margin-bottom: 0px;
}

.upcomingmovies
{
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between; 
}

.upcomingmovies img {
    max-width: 200px;
    min-height: 300px;
    object-fit: contain;
    border-radius: 5px;
}

h1
{
    font-size: 50px;
}
h2
{
    text-align: center;
}

/* mobile devices */
@media screen and (min-width:321px) and (max-width:500px){

    .movie img {
        max-width: 140px;
        min-height: 240px;
        object-fit: contain;
        border-radius: 5px;
    }
    
    .movie div {
        margin: 8px 4px;
        padding: 0px;
    }
    .movie div p {
        font-size: 12px;
    }
    .movie div button
    {
        font-size: 12px;
    }
    .movie div h3 {
        font-size: 15px;
    }

    .upcomingmovies img {
        max-width: 140px;
        min-height: 240px;
        object-fit: contain;
        border-radius: 2px;
    }
    .upcomingmovies div{
        margin: 10px 5px;
        padding: 0px;

    }

    .upcomingmovies div p{
        font-size: 12px;

    }

    .upcomingmovies div h3{
        font-size: 15px;

    }

    h2
    {
        text-align: center;
    }
}

/*samll mobile devices*/
@media screen and (min-width: 100px) and (max-width:320px) {

    .movie img {
        max-width: 90px;
        min-height: 130px;
        object-fit: contain;
        border-radius: 5px;
    }
    
    .movie div {
        margin: 3px 2px;
        padding: 0px;
    }
    .movie div p {
        font-size: 8px;
    }
    .movie div button
    {
        font-size: 8px;
    }
    .movie div h3 {
        font-size: 11px;
    }


    .upcomingmovies img {
        max-width: 90px;
        min-height: 130px;
        object-fit: contain;
        border-radius: 2px;
    }
    .upcomingmovies div{
        margin: 3px 2px;
        padding: 0px;

    }

    .upcomingmovies div p{
        font-size: 8px;

    }

    .upcomingmovies div h3{
        font-size: 12px;

    }
    .movie
    {
        padding: 5px;
        margin: 3px 0;  
    }
    .upcomingmovies
    {
        padding: 5px;
        margin: 3px 0;
   }

    h2
    {
        text-align: center;
    }
}

/* Tablet Devices */
@media only screen and (min-width: 550px) and (max-width:950px)
{
        .movie img {
            max-width: 165px;
            min-height: 255px;
            object-fit: contain;
            border-radius: 10px;
        }
        
        .movie div {
            margin: 14px 8px;
            padding: 5px;
        }
        .movie div p {
            font-size: 14px;
        }
        .movie div button
        {
            font-size: 13px;
        }
        .movie div h3 {
            font-size: 16px;
        }
    
    
        .upcomingmovies img {
            max-width: 165px;
            min-height: 255px;
            object-fit: contain;
            border-radius: 2px;
        }
        .upcomingmovies div{
            margin: 14px 8px;
            padding: 5px;
    
        }
    
        .upcomingmovies div p{
            font-size: 14px;
    
        }
    
        .upcomingmovies div h3{
            font-size: 16px;
    
        }
        .movie
        {
            padding: 5px;
            margin: 5px ;  
        }
        .upcomingmovies
        {
            padding: 5px;
            margin: 5px ;
       }
    
        h2
        {
            text-align: center;
        }
}